@font-face {
    font-family: Myriad-pro;
    src: url("../fonts/Myriad Pro Bold SemiExtended.ttf")
}

.cabecalho{
    display: flex;
    width: 100%;   
 }

.rosacea{
   height: 100px;
  }
.sistema{
   padding-left: 25px;
   text-align: center;
   font-family: 'Myriad-pro';
 }
.menuHorizontal{
    display: flex;
    background-color: #3d77b1;
    color: #000066;
    font-family: Calibri, sans-serif;
 }
.listaMenu{
    padding: 1px;
    margin: 0;
}
.itemMenu {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-family: Arial, sans serif;
 }
 .itemMenu a{
    text-decoration: none;
    color: white;
    border: rgb(145, 145, 225);
    /*border-right-width: 1px;*/
    border-right-style: double;
    padding: 10px;
}
.btnMenu{
   font-family: Arial, sans serif;
   font-size: 16px;
   color: white;
   background-color: #3d77b1;
   vertical-align: middle;
   border-color: grey;
   border-radius: 5px;   
   padding: 5px;
   margin-left: 10px;
   margin-top: 5px;
}

.corpo{
    display: flex;
    flex-direction: row;
    border: 2px;
    border-color: black;
    justify-content: center;
}
.menuVertical{
    display: inline-flex;
    background-color: #4583c3;
    width: 300px;
    height: 500px;
 }
.listaMenuVertical{
    display:flex;
    flex-direction: column;
    padding: 0px;
    list-style: none;

}
.itemMenuVertical ::before{
    content: "•  "; color: white;
}
.itemMenuVertical{
    padding: 10px;
 }
 .itemMenuVertical a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
 }
 .conteudo{
    
 }