@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sens-serif;
}

body{
    display: in-line;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #fff;
}
.cabecalho{
    position: relative;
    width: 100%
    top: 0;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 50%;
    vertical-align: baseline;
    background: transparent;
}
.logo{
    top: 0px;
    margin: 0 auto;
    position: relative;
 }
.navi_item
.navigation{
    position: relative;
    display: inline-block;
    left: 0px;
    height: 500px;
    background-color: #4583c3;
    width: 70px;
    /*box-shadow: 10px 0 0 #000066;*/
    border-left: 10px solid #4583c3;
    overflow-x: hidden;
    transition: 0.5s;
}
.navigation:hover{
    width: 300px;
}
.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 40px;
}
.navigation ul li{
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.navigation ul li a{
    position: relative;
    display: flex;
    width: 100%;
    text-decoration: none;
    color: #fff;
}
.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    text-align: center;
    line-height: 70px;
}
.navigation ul li a .icon ion-icon{
    position: relative;
    font-size: 1.5rem;
    z-index: 1;
}
.navigation ul li a .title{
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}
.navigation ul li.active{
    background-color: #000066;
}
.navigation ul li.active a::before{
    content: '';
    position: absolute;
    top: -30px;
    rigth: 0;
    width: 30px;
    height: 30px;
    background: #4583c3;
    border-radius: 50%;
}
.navigation ul li.active a::after{
    content: '';
    position: absolute;
    bottom: -30px;
    rigth: 0;
    width: 30px;
    height: 30px;
    background: #4583c3;
    border-radius: 50%;
}