table{    
    font-family: "Calibri";
    font-size: 12px;
    margin: 20px;
    border-collapse:collapse; 
}
.total{    
    font-weight: bold;                 
}

td:first-of-type{
    width: 10px;
    padding-left: 5px;
}
td:last-of-type{
    padding-right: 5px;
}
.titulo{
    font-family: 'Calibri';
    font-weight: bolder;
    background-color: white;
    color: black;
    text-align: center;
    border-top-style: double;      
}
.tr1{
    font-weight: bold;
    background-color: rgb(184 204 228);
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.tr2{
    font-weight:bolder;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.tr3:nth-child(odd) {
    background-color: rgb(219 229 241)
}

.tr3:nth-child(even) {
    background-color: white;
}

.valor{
    padding-left: 10px;
    text-align: right;
    font-style: italic;
}