<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load l10n %}

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <link rel="stylesheet" href="{% static 'css/tableStyle.css' %}">
</head>
<body>
    <div class="cabecalho">
        <h1 class="logo">
          <img src= "{% static 'img/IntranetPMDF.gif' %}" alt = "Intranet PMDF">
        </h1>
    </div>
    <nav class="menuHorizontal">
        <ul class="listaMenu">
            <li class="itemMenu"><a href="/">Quadro de Detalhamento de Despesa</a></li><!-- usado para eliminar o espaço entre os itens da lista no template
         --><li class="itemMenu"><a href="/cadastro/DPP/">Cadastro de Demandas</a></li><!--
         --><li class="itemMenu"><a href="/pio/DPP/">Plano Interno de Orçamento</a></li><!--
         --><li class="itemMenu"><a href="/remanejamento/">Remanejamentos</a></li><!--
         --><li class="itemMenu"><a href="/Acompanhamento/">Acompanhamento</a></li><!--
         --><li class="itemMenu"><a href="/admin/"><button>Administração de Dados</button></a></li><!--
     --></ul><!--
 --></nav><!--
 --><div class="conteudo">
    <table>
            <thead >
                <tr>
                  <th>Código da Demanda:</th>
                  <th>Demanda:</th>
                  <th>Processo:</th>
                  <th>Especificação:</th>
                  <th>Quantidade:</th>
                  <th>Valor:</th>
                </tr>
            </thead>
            <tbody>
            {% for demanda in acompanhamento %}
                <tr>
                  <td> {{demanda.ias_cadastrodemanda.cad_codigodemanda}}</td>
                  <td  style = "text-align:left"> {{demanda.ias_cadastrodemanda.cad_descricao}}</td>
                  <td> {{demanda.ias_processoaqusicaoservico}}</td>
                  <td> {{demanda.ias_descricao}}</td>
                  <td> {{demanda.ias_quantidade}}</td>
                  <td> {{demanda.ias_valor}}</td>
                </tr>
            {% endfor %}
            </tbody>
    </div>
    </table>
</body>
<html/>