<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load l10n %}

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <link rel="stylesheet" href="{% static 'css/tableStyle.css' %}">
</head>
<body>
    <div class="cabecalho">
        <h1 class="logo">
          <img src= "{% static 'img/IntranetPMDF.gif' %}" alt = "Intranet PMDF">
        </h1>
    </div>
    <nav class="menuHorizontal">
        <ul class="listaMenu">
            <li class="itemMenu"><a href="/">Quadro de Detalhamento de Despesa</a></li><!-- usado para eliminar o espaço entre os itens da lista no template
         --><li class="itemMenu"><a href="/cadastro/DPP/">Cadastro de Demandas</a></li><!--
         --><li class="itemMenu"><a href="/pio/DPP/">Plano Interno de Orçamento</a></li><!--
         --><li class="itemMenu"><a href="/remanejamento/">Remanejamentos</a></li><!--
         --><li class="itemMenu"><a href="/Acompanhamento/">Acompanhamento</a></li><!--
         --><li class="itemMenu"><a href="/admin/"><button>Administração de Dados</button></a></li><!--
     --></ul><!--
 --></nav><!--
 --><div class="conteudo"><!--
     --><nav class="menuVertical"><!--
         --><ul style="list-style-type: none" class="listaMenuVertical"><!--
             --><li class="itemMenuVertical"><a href="/cadastro/DPP">Pessoal e Ativo e Inativo</a></li><!--
             --><li class="itemMenuVertical"><a href="/cadastro/DPGC/">Saúde e Assistência ao Pessoal</a></li><!--
             --><li class="itemMenuVertical"><a href="/cadastro/DAO/">Odontologia</a></li><!--
             --><li class="itemMenuVertical"><a href="/cadastro/DEC/">Ensino e Pesquisa</a></li><!--
             --><li class="itemMenuVertical"><a href="/cadastro/DPTS/">Materiais, Equipamentos e Serviços de Uso Comum</a></li><!--
             --><li class="itemMenuVertical"><a href="/cadastro/Dinfra/">e Obras e Manutenção Predial e Serviços Gerais</a></li><!--
             --><li class="itemMenuVertical"><a href="/cadastro/Ditel/">Tecnologia da Informação e Comunicações</a></li><!--
             --><li class="itemMenuVertical"><a href="/cadastro/DOP/">Material e Equipamento Operacional Especial</a></li><!--
             --><li class="itemMenuVertical"><a href="/cadastro/CCS/">Cerimonial e Propaganda Institucional</a></li><!--
             --><li class="itemMenuVertical"><a href="/cadastro/DCC/">Materiais e Equipamentos de Uso Correicional e Perícia</a></li><!--
             --><li class="itemMenuVertical"><a href="/cadastro/DEC/">Inteligência</a></li>
            </ul>
        </nav>
    <table>
            <thead >
                <tr>
                  <th>Código:</th>
                  <th>Descrição:</th>
                  <th>Disponibilidade:</th>
                  <th>Periodicidade:</th>
                  <th>Natureza da Despesa:</th>
                </tr>
            </thead>
            <tbody>
            {% for demanda in cadastroCso %}
                <tr>
                  <td> {{demanda.cad_codigodemanda}}</td>
                  <td  style = "text-align:left"> {{demanda.cad_descricao}}</td>
                  <td> {{demanda.cad_especiedisponibilidade.esd_disponibilidade.dsp_status}}</td>
                  <td> {{demanda.cad_periodicidade.per_descricao}}</td>
                  <td> {{demanda.cad_fcdfdespesadetalhada}}</td>
                </tr>
            {% endfor %}
            </tbody>
    </div>
    </table>
</body>
<html/>