<!DOCTYPE html>
<html lang="en">

{% load static %}
{% load l10n %}

<head>
    <meta charset="UTF-8">
    <title>Sistema de Orçamento e Finanças</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <link rel="stylesheet" href="{% static 'css/tableStyle.css' %}">
</head>
<body>
    <div class="cabecalho">
        <img class= "rosacea" src= "static\img\RIV_PMDF_2017_Marca_PMDF_vertical_colorida.png" alt = "PMDF">
        <h1 class="sistema">
          Sistema de Orçamento e Finanças
        </h1>
    </div>
    <div>
        <h1>Login:</h1>
            <p>Usuário: <input type="text" placeholder = 'usuário intranet'></p>
            <p>Senha: <input type="text" placeholder = 'senha intranet'></p></p>
            <a href="{% url 'quadroFCDF' %}"><button>Entrar:</button></a>
    </div>