<!DOCTYPE html>
<html lang="en">

{% load static %}
{% load l10n %}

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <link rel="stylesheet" href="{% static 'css/tableStyle.css' %}">
</head>
<body>
    <div class="cabecalho">
        <h1 class="logo">
          <img src= "{% static 'img/IntranetPMDF.gif' %}" alt = "Intranet PMDF">
        </h1>
    </div>
    <nav class="menuHorizontal">
        <ul class="listaMenu">
            <li class="itemMenu"><a href="/">Quadro de Detalhamento de Despesa</a></li><!-- usado para eliminar o espaço entre os itens da lista no template
         --><li class="itemMenu"><a href="/cadastro/DPP/">Cadastro de Demandas</a></li><!--
         --><li class="itemMenu"><a href="/pio/DPP/">Plano Interno de Orçamento</a></li><!--
         --><li class="itemMenu"><a href="/remanejamento/">Remanejamentos</a></li><!--
         --><li class="itemMenu"><a href="/Acompanhamento/">Acompanhamento</a></li>
            <li class="itemMenu"><a href="/admin/"><button>Administração de Dados</button></a></li>
        </ul><!--
 --></nav><!--
 --><div class="conteudo">
    <div id="auxTable">
        <table>
          <thead >
            <tr>
              <th>Ordenador de Despesa:</th>
              <th>Plano Orçamentário:</th>
              <th>Fonte de Recurso:</th>
              <th>Grupo de Despesa:</th>
              <th>Lei:</th>
              <th>Dotação Inicial:</th>
              <th>Dotação Atual:</th>
              <th>Empenhado:</th>
              <th>Liquidado:</th>
              <th>Pago:</th>
            </tr>
          </thead>
          <tbody>
          {% for dbs in db %}
            <tr>
              <td style = "text-align:left"> {{dbs.Ordenador}}</td>
              <td style = "text-align:left"> {{dbs.Plano}}</td>
              <td> {{dbs.Fonte}}</td>
              <td> {{dbs.Grupo}}</td>
              <td style = "text-align:right"> {{dbs.Lei | floatformat:2}}</td>
              <td style = "text-align:right"> {{dbs.DotacaoInicial | floatformat:2}}</td>
              <td style = "text-align:right"> {{dbs.DotacaoAtual | floatformat:2}}</td>
              <td style = "text-align:right"> {{dbs.Empenhado | floatformat:2}}</td>
              <td style = "text-align:right"> {{dbs.Liquidado | floatformat:2}}</td>
              <td style = "text-align:right"> {{dbs.Pago | floatformat:2}}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
    </div>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script>
    const list = document.querySelectorAll('.list');
    function activeLink(){
        list.forEach((item) =>
        item.classList.remove('active'));
        this.classList.add('active');
    }
        list.forEach((item) =>
        item.addEventListener('click', activeLink));
</script>
</body>
</html>