<!DOCTYPE html>
<html lang="en">

{% load static %}
{% load l10n %}
{% load custom_filter_tag %}
<head>
    <meta charset="UTF-8">
    <title>Sistema de Orçamento e Finanças</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <link rel="stylesheet" href="{% static 'css/tableStyle.css' %}">
</head>
<body>
    <div class="cabecalho">
        <img class= "rosacea" src= "{% static 'img/RIV_PMDF_2017_Marca_PMDF_vertical_colorida.png' %}" alt = "PMDF">
        <h1 class="sistema">
          SISTEMA DE ORÇAMENTO E FINANÇAS
        </h1>
    </div>
    <nav class="menuHorizontal">
        <ul class="listaMenu">
            <li class="itemMenu"><a href="/">Quadro de Detalhamento de Despesa</a></li>
            <li class="itemMenu" style="background-color: #245b93 ;"><a href="/pio/DPP/">Plano Interno de Orçamento</a></li>
            <li class="itemMenu"><a href="/acompanhamento/">Acompanhamento</a></li>
            <li class="itemMenu"><a href="/cadastro/DPP/">Cadastro de Demandas</a></li>            
            <li class="itemMenu"><a href="/remanejamento/">Remanejamentos</a></li>            
        </ul>
        <a href="/admin/"><button class="btnMenu">Administração de Dados</button></a>
    </nav>
    <div class="corpo">
        <nav class="menuVertical">
            <ul style="list-style-type: none" class="listaMenuVertical">
                <li class="itemMenuVertical"><a href="/pio/DPP">Pessoal e Ativo e Inativo</a></li>   
                <li class="itemMenuVertical"><a href="/pio/DPGC/">Saúde e Assistência ao Pessoal</a></li>   
                <li class="itemMenuVertical"><a href="/pio/DAO/">Odontologia</a></li>   
                <li class="itemMenuVertical"><a href="/pio/DEC/">Ensino e Pesquisa</a></li>   
                <li class="itemMenuVertical"><a href="/pio/DPTS/">Materiais, Equipamentos e Serviços de Uso Comum</a></li>   
                <li class="itemMenuVertical"><a href="/pio/Dinfra/">Obras e Manutenção Predial e Serviços Gerais</a></li>   
                <li class="itemMenuVertical"><a href="/pio/Ditel/">Tecnologia da Informação e Comunicações</a></li>   
                <li class="itemMenuVertical"><a href="/pio/DOP/">Material e Equipamento Operacional Especial</a></li>   
                <li class="itemMenuVertical"><a href="/pio/CCS/">Cerimonial e Propaganda Institucional</a></li>   
                <li class="itemMenuVertical"><a href="/pio/DCC/">Materiais e Equipamentos de Uso Correicional e Perícia</a></li>   
                <li class="itemMenuVertical"><a href="/pio/CI/">Inteligência</a></li>
            </ul>
        </nav>
        <div id="parent">
        <table id="child">
            <thead>
                <tr class="total">
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>{{ somaCso | floatformat:2 }}</td>
                </tr>           
                <tr class="titulo">
                  <th></th>
                  <th>Código:</th>
                  <th>Demanda:</th>
                  <th>Natureza da Despesa:</th>
                  <th>Quantidade:</th>
                  <th>Valor:</th>
                </tr>
            </thead>
            <tbody>
            {% for demanda in pioPessoal %}
                <tr>
                  <td> {{demanda.pif_cadastrodemanda.cad_codigodemanda}}</td>
                  <td  style = "text-align:left"> {{demanda.pif_cadastrodemanda.cad_descricao}}</td>
                  <td> {{demanda.pif_cadastrodemanda.cad_fcdfdespesadetalhada}}</td>
                  <td> {{demanda.pif_quantidade}}</td>
                  <td  style = "text-align:right"> {{demanda.pif_valor | floatformat:2}}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tbody>
            {% for demanda in pioCusteio %}
                <tr>
                  <td> {{demanda.pif_cadastrodemanda.cad_codigodemanda}}</td>
                  <td  style = "text-align:left"> {{demanda.pif_cadastrodemanda.cad_descricao}}</td>
                  <td> {{demanda.pif_cadastrodemanda.cad_fcdfdespesadetalhada}}</td>
                  <td> {{demanda.pif_quantidade}}</td>
                  <td  style = "text-align:right"> {{demanda.pif_valor | floatformat:2}}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tbody>
             {% for demanda in pioInvestimento %}
                <tr>
                  <td> {{demanda.pif_cadastrodemanda.cad_codigodemanda}}</td>
                  <td  style = "text-align:left"> {{demanda.pif_cadastrodemanda.cad_descricao}}</td>
                  <td> {{demanda.pif_cadastrodemanda.cad_fcdfdespesadetalhada}}</td>
                  <td> {{demanda.pif_quantidade}}</td>
                  <td  style = "text-align:right"> {{demanda.pif_valor | floatformat:2}}</td>
                </tr>
            
            </tbody>
        </table>
       
        </div>

    </div>
</body>
</html>