<!DOCTYPE html>
<html lang="en">

{% load static %}
{% load l10n %}
{% load custom_filter_tag %}
<head>
    <meta charset="UTF-8">
    <title>Sistema de Orçamento e Finanças</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <link rel="stylesheet" href="{% static 'css/tableStyle.css' %}">
</head>
<body>
    <div class="cabecalho">
        <img class= "rosacea" src= "{% static 'img/RIV_PMDF_2017_Marca_PMDF_vertical_colorida.png' %}" alt = "PMDF">
        <h1 class="sistema">
          SISTEMA DE ORÇAMENTO E FINANÇAS
        </h1>
    </div>
    <nav class="menuHorizontal">
        <ul class="listaMenu">
            <li class="itemMenu" style="background-color: #245b93 ;"><a href="/">Quadro de Detalhamento de Despesa</a></li>
            <li class="itemMenu" ><a href="/pio/DPP/">Plano Interno de Orçamento</a></li>
            <li class="itemMenu"><a href="/acompanhamento/">Acompanhamento</a></li>
            <li class="itemMenu"><a href="/cadastro/DPP/">Cadastro de Demandas</a></li>            
            <li class="itemMenu"><a href="/remanejamento/">Remanejamentos</a></li>            
        </ul>
        <a href="/admin/"><button class="btnMenu">Administração de Dados</button></a>
    </nav>
    <div class="corpo">
        <nav class="menuVertical">
            <ul style="list-style-type: none" class="listaMenuVertical">
                <li class="itemMenuVertical" ><a  href="{% url 'FCDF'%}" >Fundo Constitucional</a></li>
                <li class="itemMenuVertical" onclick="alternarTabela(); return false" style="background-color: #245b93 ;"><a href="">Tesouro Local</a></li>                
            </ul>
        </nav>
        <div id="parent">
            <table id="child">
                <thead>
                    <tr class="total">
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td class="valor">{{totalGdf.lei|floatformat:2}}</td>
                        <td class="valor">{{totalGdf.alteracao|floatformat:2}}</td>
                        <td class="valor">{{totalGdf.despesaAutorizada|floatformat:2}}</td>
                        <td class="valor">{{totalGdf.empenhado|floatformat:2}}</td>
                        <td class="valor">{{totalGdf.liquidado|floatformat:2}}</tdv>                        
                    </tr>
                    <tr class="titulo">
                        <th>&nbsp;</th>                        
                        <th>Fonte de Recurso:</th>
                        <th>&nbsp;</th>
                        <th>Grupo de Despesa:</th>
                        <th>Lei:</th>
                        <th>Alteração:</th>
                        <th>Despesa Autorizada:</th>
                        <th>Empenhado:</th>
                        <th>Liquidado:</th>                        
                    </tr>
                </thead>
                </tbody>
                {% for ordenador in totalOrdenadorGdf %}
                    <tr class="tr1">
                        <td colspan="4">{{ordenador.Ordenador}}</td>                       
                        <td class="valor">{{ordenador.lei|floatformat:2}}</td>
                        <td class="valor">{{ordenador.alteracao|floatformat:2}}</td>
                        <td class="valor">{{ordenador.despesaAutorizada|floatformat:2}}</td>
                        <td class="valor">{{ordenador.empenhado|floatformat:2}}</td>
                        <td class="valor">{{ordenador.liquidado|floatformat:2}}</td>
                    </tr>
                {% for fonte in  totalOrdenadorFonteGdf %}
                {% if fonte.Ordenador == ordenador.Ordenador %}
                    <tr class="tr2">
                        <td>&nbsp;</td>
                        <td colspan="3">{{fonte.Fonte}}</td>
                        <td class="valor">{{fonte.lei|floatformat:2}}</td>
                        <td class="valor">{{fonte.alteracao|floatformat:2}}</td>
                        <td class="valor">{{fonte.despesaAutorizada|floatformat:2}}</td>
                        <td class="valor">{{fonte.empenhado|floatformat:2}}</td>
                        <td class="valor">{{fonte.liquidado|floatformat:2}}</td>
                    </tr>
                {% for grupo in totalOrdenadorFonteGrupoGdf %}
                {% if grupo.Ordenador == fonte.Ordenador and grupo.Fonte == fonte.Fonte %}    
                    <tr class="tr3">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>{{grupo.Grupo}}</td>
                        <td class="valor">{{grupo.lei|floatformat:2}}</td>
                        <td class="valor">{{grupo.dotacaoInicial|floatformat:2}}</td>
                        <td class="valor">{{grupo.dotacaoAtual|floatformat:2}}</td>
                        <td class="valor">{{grupo.empenhado|floatformat:2}}</td>
                        <td class="valor">{{grupo.liquidado|floatformat:2}}</td>                        
                    </tr>
                {% endif %}
                {% endfor %}
                {% endif %}
                {% endfor %}
                {% endfor %}
                </tbody>
            </table>            
        </div>    
    </div>    
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>